<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
    </head>
    <body>

        {%  include "navi.html" %}

        <form action="" method="POST">
            {% csrf_token %}
            
            <ul class='formStyle'>
                <li id='to'>
                    <label>To: </label><br>
                    {{ form.to }}
                </li>
                <li id='from'>
                    <label>From: </label><br>
                    {{ form.from_var }}
                </li>
                <li id='title'>
                    <label>Title: </label><br>
                    {{ form.title }}
                </li>
                <li id='message'>
                    <label>Message: </label><br>
                    {{ form.message }}
                </li>
            </ul>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>