<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 5px;
          text-align: center;
        }
    </style>
  </head>
  <body>

    {%  include "navi.html" %}

    <table>
      <tr>
        <th>To:    </th>
        <th>From:  </th>
        <th>Title  </th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if lst_of_notes %}
        {% for data in lst_of_notes %}
          <tr>
            <td>{{ data.to }}</td>
            <td>{{ data.from_var }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.message }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
