{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel='stylesheet' href="{% static 'css/card.css' %}" />
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }       

        .container {
            padding: 2px 16px;
        }
    </style>
    <!--  style copas dari w3school link:https://www.w3schools.com/howto/howto_css_cards.asp --->
  </head>
  <body>

    {%  include "navi.html" %}

      <!-- TODO loop from Friend model -->
      {% if lst_of_notes %}
        {% for data in lst_of_notes %}
        <div class='card'>
        <div class='container'>
            <p>To:<br>
                {{ data.to }}
            </p>
            <p>From:<br>
                {{ data.from_var }}
            </p>
            <p>Title:<br>
                {{ data.title }}
            </p>
            <p>Message:<br>
                {{ data.message }}
            </p>
        </div>
        </div>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
  </body>
</html>
