<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!--- <label for="name">Friend Name:</label>
            <input type="text" id="name" name="name">
            <br>

            <label for="npm">Friend NPM:</label>
            <input type="text" id="npm" name="npm">
            <br>

            <label for="date">Friend DoB:</label>
            <input type="text" id="date" name="date">

            name: {{ input_form.as_p }}
            npm: {{ input_form.as_p }}
            birth_date: {{ input_form.as_p }} -->
            <input type="submit" value="Submit">
        </form>>
    </body>>
</html>>